.navbar {
  background-color: #222222;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  align-self: center;
}

.navbox,
.navboxOpen {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  min-width: 42rem;
  max-width: 82rem;
}

@media (max-width: 768px) {
  .navbar {
    position: sticky;
    height: 8vh;
    top: 0;
    left: 0;
    right: 0;
    left: 0;
  }
}
